.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}
.header_left
{
    display: flex;
    align-items: center;
    padding:5px;
    margin:5px;
}
.header_left img{
    margin-left: 10px;
    cursor: pointer;
}
mat-icon{
    color:grey;
    margin:2px;
    cursor: pointer;
}
.header_left mat-icon{
    margin: 5px;
}
.header_middle
{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    flex:0.8;
}
.header_middle input{
    width:100%;
    background-color: transparent;
    border: none;
    outline:none;
    font-size: medium;
    margin-left:10px;
}
.header_right
{
    display: flex;
    align-items: center;
    padding:5px;
    margin:5px;
}
.header_right mat-icon{
    padding: 10px;
}