<div class="header">
    <div class="header_left">
        <mat-icon>view_headline</mat-icon>
        <img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png" />    
    </div>
    <div class="header_middle">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search mail">
        <mat-icon>sort</mat-icon>
    </div>
    <div class="header_right">
        <mat-icon>contact_support</mat-icon>
        <mat-icon>settings</mat-icon>
        <mat-icon>apps</mat-icon>
        <mat-icon>account_circle</mat-icon>
    </div>
</div>