<div class="sidebar">
    <button class="sidebar_compose">
        <mat-icon>add</mat-icon>
        Compose
    </button>
    <div class="sidebar_options">
        <div class="sidebar_option sidebar_selected">
            <mat-icon>inbox</mat-icon>
            <h5>Inbox</h5>
        </div>
        <div class="sidebar_option">
            <mat-icon>star</mat-icon>
            <h5>Starred</h5>
        </div>
        <div class="sidebar_option">
            <mat-icon>access_time</mat-icon>
            <h5>Snoozed</h5>
        </div>
        <div class="sidebar_option">
            <mat-icon>label_important</mat-icon>
            <h5>Important</h5>
        </div>
        <div class="sidebar_option">
            <mat-icon>send</mat-icon>
            <h5>Sent</h5>
        </div>
        <div class="sidebar_option">
            <mat-icon>drafts</mat-icon>
            <h5>Drafts</h5>
        </div>
        <div class="sidebar_option">
            <mat-icon>more_horiz</mat-icon>
            <h5>Categories</h5>
        </div>
        <div class="sidebar_option">
            <mat-icon>arrow_drop_down</mat-icon>
            <h5>More</h5>
        </div>
    </div>
    <div class="sidebar_footer">
        <div class="sidebar_footer_icons">
            <mat-icon> person_pin</mat-icon>
            <mat-icon>video_call</mat-icon>
            <mat-icon> call</mat-icon>
        </div>
    </div>
</div>